body 
  {
    background-color: lavenderblush;
  }

  hr
  {
    border-style: none;
    border-top-style: dotted;
    background-color: inherit;
    border-color: rgb(125, 0, 142);
    border-width: 5px;
    width: 50%;
  }
  
  img
  {
    background-color: inherit;
  }

  .banana
  {
    background-color: inherit;
  }

  .profile
  {
border-radius: 100%;
  }

  img:hover
  {
    background-color: gold;
  }
